<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cybertek</title>
<!--    Container for meta data(is not displayed)
Title, Styles (CSS), Link, Scripts, Meta and etc. -->


</head>
<body>
Welcome to Java Developer Course!

<h1>Spring Boot</h1>
<h2>Spring Boot</h2>
<h3>Spring Boot</h3>

<h1 align="center" style="color: blue">Spring Framework</h1>

<img src="springboot.png" alt="SpringBoot Image">

<ul>
    <li>MVC</li>
    <li>ORM</li>
    <li>API</li>
</ul>

    <a href="https:amazon.com">Amazon</a>

    <table>
        <tr>
            <td>Loop</td>
            <td>Collection</td>
            <td>Stream</td>
        </tr>
        <tr>
            <td>IoC</td>
            <td>DI</td>
            <td>Value</td>
        </tr>
    </table>

<!--Forms-->
<label>User Name:</label>
<input type="text" name="username"><br>
<label>Password:</label>
<input type="password"><br>
<label>Enter your comments:</label>
<textarea name="comments"></textarea>
<br>
<br>
<label>Please select your favourite subject:</label>
<br>
<input type="radio" name="Spring" value="IoC" checked="checked">IoC
<input type="radio" name="Spring" value="DI">DI
<input type="radio" name="Spring" value="MVC">MVC
<br>
<br>
<label>Please select your company:</label>
<br>
<input type="checkbox" name="company" value="BoA"> Bank of America
<input type="checkbox" name="company" value="Southwest"> Southwest Airlines
<input type="checkbox" name="company" value="LTD"> Limited
<br>
<br>
<label>Select your car:</label>
<select name="cars">
    <option value="Honda">Honda</option>
    <option value="Nissan">Nissan</option>
    <option value="BMW">BMW</option>

</select>
<br>
<br>
<form action="#" method="get"></form>
First Name:<input type="text" name="first name"/>
<br>
Last Name:<input type="text" name="last name/">


<div>

    <h3>This is Java Developer Course</h3>
    <ul>
        <li>Spring Framework</li>
        <li>Security</li>
        <li>Unit Testing</li>
    </ul>


</div>

</body>
</html>